.card__header{
    display: flex;
    margin: 0 auto;
    max-width: 90%;
        &-subtitle{
            font-size: 0.6rem;
        }
        &-title{
            font-size: 1.4rem;
            font-weight: bold;
        }
        &-pv-wrapper{
            margin-left: auto;
            display: flex;
            align-items: flex-end;
        }
        &-pv-text{
            font-size: 1.4rem;
            color: var(--red);
        }
}