@mixin landscape {
  @media (orientation: landscape) {
    @content;
  }
}
.header {
  display: flex;
  margin: 0 auto;
  max-width: 90%;
  @include landscape {
    align-items: center;
  }
}
.header__subtitle {
  font-size: 0.6rem;
}
.header__title {
  font-size: 1.4rem;
  font-weight: bold;
}
.header__wrapperHp {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  @include landscape {
    margin-left: 1.4rem;
  }
}
.header__textHp {
  font-size: 1.4rem;
  color: var(--red);
}
