@mixin landscape {
    @media (orientation: landscape) {
      @content;
    }
  }
.card__header{
    display: flex;
    margin: 0 auto;
    max-width: 90%;
    @include landscape{
        align-items: center;
    }
        &-subtitle{
            font-size: 0.6rem;
        }
        &-title{
            font-size: 1.4rem;
            font-weight: bold;
        }
        &-pv-wrapper{
            margin-left: auto;
            display: flex;
            align-items: flex-end;
            @include landscape {
                margin-left: 1.4rem
            }
        }
        &-pv-text{
            font-size: 1.4rem;
            color: var(--red);
        }
}