@import 'vendors/reset.scss','header.scss','main.scss','footer.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

@mixin landscape {
      @media (orientation: landscape) {
        @content;
      }
}

:root{
    --gold: #7A751E;
    --yellow: #FCEA00;
    --green: #9ACD32;
    --red: #f02809;
}
*{
    box-sizing: border-box;
} 
html{
      font-family: 'Noto Sans', sans-serif;
      background-color: var(--green);
      background-image: url(../img/noiseTexture.png);
      background-size: cover;
      background-blend-mode: overlay;
      font-size: 100%;
      border: 8px solid;
      border-image: linear-gradient(225deg, rgba(122,117,30,1) 0%, rgba(252,234,0,1) 100%) 30;
     
}
img{
      max-width: 100%;
}
body{
      @include landscape {
          
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px; 
      max-height: 100vh;
}    
}            
main {
      @include landscape {
       grid-area: 1 / 1 / 2 / 3; 
      }
}
header { 
      @include landscape {
      grid-area: 2 / 1 / 3 / 2; 
      }
}
footer { 
      border-top: solid 2px black;
      max-width: 95%;
      margin: 0 auto;

      @include landscape {
      grid-area: 2 / 2 / 3 / 3; 
      }
}